.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    background-color: #69A625;
    color: white;
}

.btn-search {
    background-color: #007bff;
    color: aliceblue;
    margin-right: 25px;
    border: 1px solid #007bff; 
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

.btn-search:hover {
    background-color: #184c83;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 10px 10px lightblue;
}

/*menu e logo - header*/

.menu {
    align-items: center;
    list-style: none; 
    display: block;
    font-weight: normal; 
    background: #ECECEC;
    margin: 0;
    font-family: 'bellota text';
    font-size: 18px;
}

.menu-opcoes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 10px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.menu-opcoes li {
    margin-top: 22px;
}

@media (max-width: 1200px) {
    .menu-opcoes a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: background-color 0.3s ease, color 0.3s ease; 
        border-radius: 10px;
        padding: 10px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 2px;
    }
}

.menu-opcoes a:hover {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: dashed;
    border-radius: 10px;
}

.borda-cabecalho{
    width: 0px;
    height: 25px; 
    border: 1px black solid;
    display: inline-flex;
    margin-top: 22px;
}

/*main*/



/*footer */

body {
    margin: 0;
    font-family: 'bellota text';
    background: #ffffff;
  }
  
  a {
    transition: .3s;
    text-decoration: none;
  }
  
  a:hover,
  a:active,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  .footer {
    position: relative;
    padding-top: 45px;
    background: #043668;
  }
  
  .footer .footer-blog,
  .footer .footer-insta,
  .footer .footer-tags,
  .footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
  }
  
  .footer .footer-blog h3,
  .footer .footer-insta h3,
  .footer .footer-tags h3,
  .footer .footer-newsletter h3 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .footer .footer-blog h3::after,
  .footer .footer-insta h3::after,
  .footer .footer-tags h3::after,
  .footer .footer-newsletter h3::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #ffffff;
  }
  
  .footer .footer-blog div {
    position: relative;
  }
  
  .footer .footer-blog div a {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #cccccc;
  }
  
  .footer .footer-blog div a:hover {
    color: #0085ff;
  }
  
  .footer .footer-blog div p {
    padding-left: 20px;
    color: #757575;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .footer .footer-blog div p::before {
    position: absolute;
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    color: #757575;
    left: 15px;
  }
  
  .footer .footer-insta {
    float: left;
    font-size: 0;
  }
  
  .footer .footer-insta a {
    padding: 0 5px 5px 0;
    display: block;
    width: 33.33%;
    float: left;
  }
  
  .footer .footer-insta a img {
    width: 100%;
  }
  
  .footer .footer-tags {
    font-size: 0;
  }
  
  .footer .footer-tags a {
  
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 7px;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 6px;
  
  }
  
  .footer .footer-tags a:hover {
    color: #ffffff;
    background: #0085ff;
    border-color: #0085ff;
  }
  
  .footer .footer-newsletter .form {
    
    position: relative;
    width: 100%;
  
  }
  
  .footer .footer-newsletter .campo {
    
    width: 100%;
    height: 45px;
    float: left;
    border: 1px solid #05488a;
    background: #05488a;
    margin-bottom: 15px;
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
    color: #cccccc;
  
  }
  
  .footer .footer-newsletter .campo:focus {
    
    color:#cccccc!important;
  
  }
  
  .footer .footer-newsletter .btn {
  
    display: block;
    width: 100%;
    height: 45px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #cccccc;
    background: #0085ff;
    border-radius: 0;
    border: 1px solid #0085ff;
    transition: .3s;
    border-radius: 10px;
  
  }
  
  .footer .footer-newsletter .btn:hover {
    color: #ffffff;
    background: #184c83;
    border-color: #222121;
    box-shadow: 10px 10px lightblue;
  }
  
  
  .footer .footer-contact {
    position: relative;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
  }
  
  .footer .footer-contact h4 {
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
  }
  
  .footer .footer-contact p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
  }
  
  .footer .footer-contact a {
    display: inline-block;
  }
  
  .footer .footer-contact a i {
    margin-right: 10px;
    font-size: 18px;
    color: #ffffff;
  }
  
  .footer .footer-contact a:last-child i {
    margin: 0;
  }
  
  .footer .footer-contact a:hover i {
    color: #0085ff;
  }
  
  @media (max-width: 767.98px) {
    .footer .footer-contact .col-md-4 {
      margin-bottom: 25px;
    }
  
    .footer .footer-contact .col-md-4:last-child {
      margin: 0;
    }
  }
  
  .footer .copyright {
    position: relative;
    padding: 30px 0;
    background: #032e59;
  }
  
  .footer .copyright .copy-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .footer .copyright .copy-text p a {
    color: #dddddd;
  }
  
  .footer .copyright .copy-text p a:hover {
    color: #0085ff;
  }
  
  .footer .copyright .copy-menu {
    position: relative;
    font-size: 0;
    text-align: right;
  }
  
  .footer .copyright .copy-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
  }
  
  .footer .copyright .copy-menu a:hover {
    color: #0085ff;
  }
  
  .footer .copyright .copy-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  @media (max-width: 767.98px) {
    .footer .copyright .copy-text,
    .footer .copyright .copy-menu {
      text-align: center;
    }
  
    .footer .copyright .copy-text p {
      margin-bottom: 5px;
    }
  
  }