/*barra de pesquisa e título, saiba mais*/


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background-color: #69A625;
  color: white;
}

.btn-search {
  background-color: #3A90C3;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #3A90C3;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.btn-search:hover {
  background-color: #184c83;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px lightblue;
}

/*menu e logo - header*/

.menu {
  align-items: center;
  list-style: none;
  display: block;
  font-weight: normal;
  background: #ECECEC;
  margin: 0;
  font-family: 'bellota text';
  font-size: 18px;
}

.menu-opcoes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-opcoes li {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .menu-opcoes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 2px;
  }
}

.menu-opcoes a:hover {
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
  background-color: #3A90C3;
  transition: 0.3s;
  cursor: pointer;
  border-style: none;
  box-shadow: 8px 8px lightblue;
  text-align: center;
}

.borda-cabecalho {
  width: 0px;
  height: 25px;
  border: 1px black solid;
  display: inline-flex;
  margin-top: 22px;
}

.background-image {
  background-image: url('/Home/IMG_1692.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  position: relative;
}

/*main*/


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);


main{
  font-size: medium;
}

#carouselExampleIndicators {
  max-height: 1000px;
}


.carousel-indicators li {
  background-color: #007bff;
}

.carousel-indicators .active {
  background-color: #0056b3;
}


.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #0056b3;
}


.carousel-item {
  text-align: center;
  color: #fff;
  height: 550px;
}


.carousel-item img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

:root {
  --color-primary-1: hsl(35, 77%, 62%);
  --color-primary-2: hsl(5, 85%, 63%);
  --color-neutral-1: hsl(36, 100%, 99%);
  --color-neutral-2: hsl(233, 8%, 79%);
  --color-neutral-3: hsl(236, 13%, 42%);
  --color-neutral-4: hsl(240, 100%, 5%);
}

html {
  box-sizing: border-box;
}



*,
*::after,
*::before {
  box-sizing: inherit;


}

a,
a:active,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;

}

.container {
  width: min(100% - 2rem, 120rem);
  margin-inline: auto;
  border-radius: 10px;
}

.header {
  padding-bottom: 2.5rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__link {
  color: var(--color-neutral-3);
  transition: all 0.3s ease;
}

.header__link:hover {
  color: var(--color-primary-2);
}

.header__logo {
  display: block;
}

.header__logo img {
  display: block;
}

.news {
  margin-top: 4rem;
}

.news__inner {
  display: flex;
  gap: 3.5rem;
}

.news__main {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.news__main-cover {
  display: block;
  width: 100%;
  margin-bottom: 5rem;
}

.news__main-cover--desktop {
  display: block;
}

.news__main-cover--mobile {
  display: none;
}

.news__main-content {
  display: flex;
  justify-content: space-between;
  gap: 8.5rem;
}

@media (max-width: 1200.98px) {
  .news__main-info {
    display: block;
  }
  .news__main-content {
    display: block;
    justify-content: space-between;
    gap: 8.5rem;
  }
}

.news__main-title {
  font-size: 3rem;
  line-height: 3rem;
}

.news__main-info {
  display: flex;
  flex-direction: column;
}

.news__main-subtitle {
  font-size: 1.3rem;
  color: var(--color-neutral-3);
}

.read-more {
  display: inline-block;
  background-color: #69A625;
  color: var(--color-neutral-1);
  padding: 1.3rem;
  text-align: center;
  width: 19rem;
  margin-top: auto;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  font-family: inherit;
  line-height: 1;
  border-radius: 10px;
}

.read-more:hover {
  background-color: forestgreen;
  color: white;
  transition: .3s;
  box-shadow: 10px 10px lightblue;
}

.news__side {
  background-color: #ECECEC;
  padding: 3rem;
  align-self: baseline;
  border-radius: 10px;
  box-shadow: 3px 10px 10px grey;
  flex: 2;
}

.news__side-title {
  color: var(--color-primary-1);
  font-size: 3.0rem;
  line-height: 3.0rem;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
}


.news__side-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  color: #222121;
}

.news__side-item:not(:last-of-type) {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-neutral-3);

}

.news__side-item__title a {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  color: #222121;
}

.news__side-item__title a:hover {
  color: var(--color-primary-1);
}


.news__side-item__description {
  color: #222121;
}



  .button-tcc{
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
    

  }
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    text-align: center;
    overflow: auto;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button-popup {
    background-color: #05488a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recent__article-cover {
  display: block;
  align-self: baseline;

  object-fit: cover;
}

.boxed {
	margin-bottom: 20px;
	padding-bottom: 16px;
	background: url(images/img06.gif) no-repeat center bottom;
}

.boxed .title {
	background: url(images/img05.gif) no-repeat right;
	font-size: 1.6em;
}

.boxed .content {
	border-bottom: 1px dotted #C7894C;
}


#main {
  margin-top: 9%;
  padding: 15px;
  box-shadow: 10px 10px 10px #808080; /* Corrigido aqui */
  margin-top: 10%;
  border-radius: 10px;
  background-color: #ececec;
}

#extra {
  height: 31px;
  margin: 0 260px 0 20px;
  background: url('/imgs/apoiadores/apoiadores_fundo.jpeg') repeat-x;
}

#background-container {
  background-image: url('/imgs/apoiadores/apoiadores_fundo.jpeg');
  background-size: cover;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
  z-index: -1;
}




#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font-size: x-small;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}


#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}


#expandButton {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #C7894C;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20%;
}

#expandButton:hover {
  background-color: chocolate;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px rgb(230, 210, 173);
}

.gallery {
  display: none;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}


/*footer */

body {
  margin: 0;
  font-family: 'bellota text';
  background: #ffffff;
}

footer a {
  transition: .3s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #043668;
}

.footer .footer-blog,
.footer .footer-insta,
.footer .footer-tags,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
}

.footer .footer-blog h3,
.footer .footer-insta h3,
.footer .footer-tags h3,
.footer .footer-newsletter h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer .footer-blog h3::after,
.footer .footer-insta h3::after,
.footer .footer-tags h3::after,
.footer .footer-newsletter h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #ffffff;
}

.footer .footer-blog div {
  position: relative;
}

.footer .footer-blog div a {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #cccccc;
}

.footer .footer-blog div a:hover {
  color: #0085ff;
}

.footer .footer-blog div p {
  padding-left: 20px;
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer .footer-blog div p::before {
  position: absolute;
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #757575;
  left: 15px;
}

.footer .footer-insta {
  float: left;
  font-size: 0;
}

.footer .footer-insta a {
  padding: 0 5px 5px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-insta a img {
  width: 100%;
}

.footer .footer-tags {
  font-size: 0;
}

.footer .footer-tags a {

  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 7px;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 6px;

}

.footer .footer-tags a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}

.footer .footer-newsletter .form {

  position: relative;
  width: 100%;

}

.footer .footer-newsletter .campo {

  width: 100%;
  height: 45px;
  float: left;
  border: 1px solid #05488a;
  background: #05488a;
  margin-bottom: 15px;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
  color: #cccccc;

}

.footer .footer-newsletter .campo:focus {

  color: #cccccc !important;

}

.footer .footer-newsletter .btn {

  display: block;
  width: 100%;
  height: 45px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: #3A90C3;
  border-radius: 0;
  border: 1px solid #3A90C3;
  transition: .3s;
  border-radius: 10px;

}

.footer .footer-newsletter .btn:hover {
  color: #ffffff;
  background: #184c83;
  border-color: #222121;
  box-shadow: 10px 10px lightblue;
}


.footer .footer-contact {
  position: relative;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-contact h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer .footer-contact p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.footer .footer-contact a {
  display: inline-block;
}

.footer .footer-contact a i {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .footer-contact .col-md-4 {
    margin-bottom: 25px;
  }

  .footer .footer-contact .col-md-4:last-child {
    margin: 0;
  }
}

.footer .copyright {
  position: relative;
  padding: 30px 0;
  background: #032e59;
}

.footer .copyright .copy-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.footer .copyright .copy-text p a {
  color: #dddddd;
}

.footer .copyright .copy-text p a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu {
  position: relative;
  font-size: 0;
  text-align: right;
}

.footer .copyright .copy-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .copyright .copy-menu a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

@media (max-width: 767.98px) {

  .footer .copyright .copy-text,
  .footer .copyright .copy-menu {
    text-align: center;
  }

  .footer .copyright .copy-text p {
    margin-bottom: 5px;
  }

}