
* {
    margin: 0;
    padding: 0;
    font-family: 'Bellota Text';
}
.titulo{
    background-color: #69A625;
}
.title{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Bellota Text';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo{
    /* Ellipse 1 */
    box-sizing: border-box;
    position: absolute;
    width: 233px;
    height: 233px;
    border-radius: 150px;
    background: #ECECEC;
    border: 5px solid rgba(0, 0, 0, 0.7);
}
.top-bar{
    background-color: #69A625;
    color: #fff;
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    background:#ECECEC;
    outline: none; 
}

.search-bar button {
    background-color: #008000; 
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
}
nav {
    background-color: #ECECEC; 
}

.menu {
    align-items: center;
    list-style: none;
    display: inline-block;
    font-weight: 600; 
    background: #ECECEC; 
    margin: 0;
    padding: 2%;
    font-family: 'Raleway';
}
.menu-opcoes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: background-color 0.3s ease; 
}

.menu-opcoes a:hover {
    background-color: #008000; 
    color: #fff;
    padding: 15px ;
}

.apoiadores-logo{
    text-align: center;
    height: 70%;
}
.apoiadores-texto{
    font-family: 'Bellota Text';
    font-size: 30px;
}
.direitos{
    color: black;
    font-size: 16px;
    font-family: "IBM Plex Serif";
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 20px;
}
.cabecalho{
    color: black; 
    font-size: 24px; 
    font-family: Bellota 
    Text; font-weight: 400; 
    word-wrap: break-word;
    display: inline-flex;
}
.borda-cabecalho{
    width: 0px;
    height: 25px; 
    border: 1px black solid;
    display: inline-flex;
    margin-top: 10px;
}
main{
    background-color: #ECECEC;
    font-size: 30px;
}
.navegacao-footer a{
    color: white;
}


/* MEU */

.fotoFlor{
    background: rgba(234, 131, 86, 0.51);
    width: 100%;
}
.nosAjude{
    text-align: center;
    color: #000;
    font-family: Bellota Text;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text{
    background: #ECECEC;
}
.pix{
    text-align: center;
    color: #000;
    font-family: Bellota Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}