/*barra de pesquisa e título, saiba mais*/
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    background-color: #69A625;
    color: white;
}

.btn-search {
  background-color: #3A90C3;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #3A90C3; 
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.btn-search:hover {
    background-color: #184c83;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    box-shadow: 10px 10px lightblue;
}

/*menu e logo - header*/

.menu {
    align-items: center;
    list-style: none; 
    display: block;
    font-weight: normal; 
    background: #ECECEC;
    margin: 0;
    font-family: 'bellota text';
    font-size: 18px;
}

.menu-opcoes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 10px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.menu-opcoes li {
    margin-top: 22px;
}

@media (max-width: 1200px) {
    .menu-opcoes a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: background-color 0.3s ease, color 0.3s ease; 
        border-radius: 10px;
        padding: 10px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 2px;
    }
}

.menu-opcoes a:hover {
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
  background-color: #3A90C3;
  transition: 0.3s;
  cursor: pointer;
  border-style: none;
  box-shadow: 8px 8px lightblue;
  text-align: center;
}

.borda-cabecalho{
    width: 0px;
    height: 25px; 
    border: 1px black solid;
    display: inline-flex;
    margin-top: 22px;
}

.como-chegar{
    text-align: center;
    background-color: #ECECEC;
}

.background-image {
  background-image: url('/ApoieUsina/IMG_1574.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  position: relative;
}

.petition-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 7px 10px #69A625;
  width: 100%;
  max-width: 400px;
  margin: 20% auto; 
  z-index: 2;
  position: relative;
}

label {
  margin-bottom: 8px;
  margin-top: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #007bff;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

button:hover {
  background-color: #184c83;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px lightblue;
  text-align: center;
}

.linha-horizontal {
  border-top: 1px solid #ddd;
}





.container-cards {
  height: 400px;
  width: 800px;
  top: 100px; 
  left: calc(50% - 300px);
  display: flex;
  margin-left: 430px;
  text-align: center;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #ECECEC;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem rgb(129, 129, 129);
  margin-left: -50px; /* Mudei o seletor para ser específico e removi a pseudo-classe ':not(:first-child)' */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title-card {
  color: rgb(0, 0, 0);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 120px; /* Ajuste da posição para baixo */
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 170px; /* Ajuste da posição para baixo */
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


.square-holder {
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

/*footer*/
body {
  margin: 0;
  font-family: 'bellota text';
  background: #ffffff;
}

footer a {
  transition: .3s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #043668;
}

.footer .footer-blog,
.footer .footer-insta,
.footer .footer-tags,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
}

.footer .footer-blog h3,
.footer .footer-insta h3,
.footer .footer-tags h3,
.footer .footer-newsletter h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer .footer-blog h3::after,
.footer .footer-insta h3::after,
.footer .footer-tags h3::after,
.footer .footer-newsletter h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #ffffff;
}

.footer .footer-blog div {
  position: relative;
}

.footer .footer-blog div a {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #cccccc;
}

.footer .footer-blog div a:hover {
  color: #0085ff;
}

.footer .footer-blog div p {
  padding-left: 20px;
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer .footer-blog div p::before {
  position: absolute;
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #757575;
  left: 15px;
}

.footer .footer-insta {
  float: left;
  font-size: 0;
}

.footer .footer-insta a {
  padding: 0 5px 5px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-insta a img {
  width: 100%;
}

.footer .footer-tags {
  font-size: 0;
}

.footer .footer-tags a {

  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 7px;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 6px;

}

.footer .footer-tags a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}

.footer .footer-newsletter .form {
  
  position: relative;
  width: 100%;

}

.footer .footer-newsletter .campo {
  
  width: 100%;
  height: 45px;
  float: left;
  border: 1px solid #05488a;
  background: #05488a;
  margin-bottom: 15px;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
  color: #cccccc;

}

.footer .footer-newsletter .campo:focus {
  
  color:#cccccc!important;

}

.footer .footer-newsletter .btn {

  display: block;
  width: 100%;
  height: 45px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: #3A90C3;
  border-radius: 0;
  border: 1px solid #3A90C3;
  transition: .3s;
  border-radius: 10px;

}

.footer .footer-newsletter .btn:hover {
  color: #ffffff;
  background: #184c83;
  border-color: #222121;
  box-shadow: 10px 10px lightblue;
}


.footer .footer-contact {
  position: relative;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-contact h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer .footer-contact p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.footer .footer-contact a {
  display: inline-block;
}

.footer .footer-contact a i {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .footer-contact .col-md-4 {
    margin-bottom: 25px;
  }

  .footer .footer-contact .col-md-4:last-child {
    margin: 0;
  }
}

.footer .copyright {
  position: relative;
  padding: 30px 0;
  background: #032e59;
}

.footer .copyright .copy-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.footer .copyright .copy-text p a {
  color: #dddddd;
}

.footer .copyright .copy-text p a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu {
  position: relative;
  font-size: 0;
  text-align: right;
}

.footer .copyright .copy-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .copyright .copy-menu a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

@media (max-width: 767.98px) {
  .footer .copyright .copy-text,
  .footer .copyright .copy-menu {
    text-align: center;
  }

  .footer .copyright .copy-text p {
    margin-bottom: 5px;
  }

}
/* MEU */

.square {
  position: absolute; /* Position elements relative to the parent .background-image */
  top: 50%; /* Adjust vertical positioning */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  height: 220px; /* Altura do quadrado */
  width: 190px; /* Largura do quadrado */
  border: 8px solid #3A90C3;
  background-color: white; /* Borda preta */
  border-radius: 25px; /* Borda arredondada */
  text-align: center; /* Centraliza conteúdo horizontalmente */
  padding: 25px; /* Espaçamento interno para o conteúdo */
  scale: 125%;
}

.pix{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: #000;
  font-family: Bellota Text;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img-fluid{
  width: 40%;
  margin: auto;
  display: block;
}
