
* {
    margin: 0;
    padding: 0;
    font-family: 'Bellota Text';
}
.title{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Bellota Text';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo{
    /* Ellipse 1 */
    box-sizing: border-box;

    position: absolute;
    width: 233px;
    height: 233px;
    border-radius: 150px;
    background: #ECECEC;
    border: 5px solid rgba(0, 0, 0, 0.7);
}
.top-bar{
    background-color: #69A625;
    color: #fff;
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    background:#ECECEC;
    outline: none; 
}

.search-bar button {
    background-color: #008000; 
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
}
nav {
    background-color: #ECECEC; 
}

.menu {
    align-items: center;
    list-style: none;
    display: flex;
    font-weight: 600; 
    background: #ECECEC; 
    border-bottom: 2px solid #008000; 
    margin: 0;
    padding: 2%;
    font-family: 'Raleway';
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    transition: background-color 0.3s ease; 
}

.menu a:hover {
    background-color: #008000; 
    color: #fff;
    padding: 10px 20px;
}
.especificacao{
    position: absolute;
    left: 41%;
    top: 400px;
    z-index: 1000;
    width: 224px; 
    height: 314px; 
    background: #ECECEC; 
    border-radius: 20px; 
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    font-family: 'Bellota Text';
    font-size: 30px;
}
.cabecalho{
    color: black; 
    font-size: 24px; 
    font-family: Bellota 
    Text; font-weight: 400; 
    word-wrap: break-word
}
.borda-cabecalho{
    width: 0px;
    height: 50px; 
    transform-origin: 0 0;
    border: 1px black solid
}
/*****************
 CARDS DOS EVENTOS 
 *****************/

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 15px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 8px 0;
    font-family: serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    width: 500px;
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.3s ease-in-out;
  }
  
  .article-body {
    padding: 20px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #008000;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #008000;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 35px;
    padding-bottom: 50px;
    padding-top: 50px;
  } 
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .main-banner-content{
    height: 80px;
    width: 70px;
    background: black;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .control{
    z-index: 0;
    position: absolute;
  }