
/*barra de pesquisa e título, saiba mais*/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background-color: #69A625;
  color: white;
}

.btn-search {
  background-color: #007bff;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #007bff; 
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  
}

.btn-search:hover {
  background-color: #184c83;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px lightblue;
}

/*menu e logo - header*/

.menu {
  align-items: center;
  list-style: none; 
  display: block;
  font-weight: normal; 
  background: #ECECEC;
  margin: 0;
  font-family: 'bellota text';
  font-size: 18px;
}

.menu-opcoes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 10px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-opcoes li {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .menu-opcoes a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      transition: background-color 0.3s ease, color 0.3s ease; 
      border-radius: 10px;
      padding: 10px;
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 2px;
  }
}

.logo-usina{
  width: 120px;
  height: 120px;
}
.menu-opcoes a:hover {
  background-color: #007bff;
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
}

.borda-cabecalho{
  width: 0px;
  height: 25px; 
  border: 1px black solid;
  display: inline-flex;
  margin-top: 22px;
}

.como-chegar{
  text-align: center;
  background-color: #ECECEC;
}

.background-image {
background-image: url('USINA_036.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 500px; 
position: relative;
}

.petition-container {
background-color: rgba(255, 255, 255, 0.9); 
border-radius: 10px;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
margin-top: -20%;
z-index: 2;
position: relative;
}

label {
display: block;
margin-bottom: 8px;
margin-top: 8px;
}

input,
textarea {
width: 100%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
}

button::not(.close-button3) {
background-color: #007bff;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #007bff; 
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

button:hover::not(.close-button3) {
background-color: #184c83;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px lightblue;
  text-align: center;
}



/*footer*/
body {
  margin: 0;
  font-family: 'bellota text';
  background: #ffffff;
}

a {
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #043668;
}

.footer .footer-blog,
.footer .footer-insta,
.footer .footer-tags,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
}

.footer .footer-blog h3,
.footer .footer-insta h3,
.footer .footer-tags h3,
.footer .footer-newsletter h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer .footer-blog h3::after,
.footer .footer-insta h3::after,
.footer .footer-tags h3::after,
.footer .footer-newsletter h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #ffffff;
}

.footer .footer-blog div {
  position: relative;
}

.footer .footer-blog div a {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #cccccc;
}

.footer .footer-blog div a:hover {
  color: #0085ff;
}

.footer .footer-blog div p {
  padding-left: 20px;
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer .footer-blog div p::before {
  position: absolute;
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #757575;
  left: 15px;
}

.footer .footer-insta {
  float: left;
  font-size: 0;
}

.footer .footer-insta a {
  padding: 0 5px 5px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-insta a img {
  width: 100%;
}

.footer .footer-tags {
  font-size: 0;
}

.footer .footer-tags a {

  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 7px;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 6px;

}

.footer .footer-tags a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}

.footer .footer-newsletter .form {
  
  position: relative;
  width: 100%;

}

.footer .footer-newsletter .campo {
  
  width: 100%;
  height: 45px;
  float: left;
  border: 1px solid #05488a;
  background: #05488a;
  margin-bottom: 15px;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
  color: #cccccc;

}

.footer .footer-newsletter .campo:focus {
  
  color:#cccccc!important;

}

.footer .footer-newsletter .btn {

  display: block;
  width: 100%;
  height: 45px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #cccccc;
  background: #0085ff;
  border-radius: 0;
  border: 1px solid #0085ff;
  transition: .3s;
  border-radius: 10px;

}

.footer .footer-newsletter .btn:hover {
  color: #ffffff;
  background: #184c83;
  border-color: #222121;
  box-shadow: 10px 10px lightblue;
}


.footer .footer-contact {
  position: relative;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-contact h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer .footer-contact p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.footer .footer-contact a {
  display: inline-block;
}

.footer .footer-contact a i {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .footer-contact .col-md-4 {
    margin-bottom: 25px;
  }

  .footer .footer-contact .col-md-4:last-child {
    margin: 0;
  }
}

.footer .copyright {
  position: relative;
  padding: 30px 0;
  background: #032e59;
}

.footer .copyright .copy-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.footer .copyright .copy-text p a {
  color: #dddddd;
}

.footer .copyright .copy-text p a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu {
  position: relative;
  font-size: 0;
  text-align: right;
}

.footer .copyright .copy-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .copyright .copy-menu a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

@media (max-width: 767.98px) {
  .footer .copyright .copy-text,
  .footer .copyright .copy-menu {
    text-align: center;
  }

  .footer .copyright .copy-text p {
    margin-bottom: 5px;
  }

}
/*****************
 CARDS DOS EVENTOS 
 *****************/

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 15px;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 8px 0;

    font-family: serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    width: relative;
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
  }
  
  figure img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.3s ease-in-out;
  }

  .article-body {
    padding: 20px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #008000;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #008000;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .articles {
    display: grid;
    max-width: 80%;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 35px;
    padding: 5%;
  }
  @media screen and (max-width: 767px){
    .articles{
      max-width: 1200px;
    }
  }
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .main-banner-content{
    height: 70px;
    width: 70px;
    background: rgba(65, 156, 8, 0.8);
    border-radius: 10% 25%;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: fantasy;
  }
  .control{
    z-index: 0;
    position: relative;
  }
  
/****************************
  MODAL POP UPS PARA OS CARDS
*****************************/
p {
  text-indent: 3ch;

}
.modal {
  display: none; /* Escondido por padrao */
  position: fixed; /* fica no lugar */
  z-index: 1; /* fica na frente de td? */
  padding-top: 5%; /* local da modal box */
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
  
 }
 @media screen and (max-width: 767px) {
  .modal{
    /* coloca o css q vc qr q fique no cell */
    padding-top: 20%;
  }
}

 .botao{
  border-radius: 20px;
  background-color: transparent;
  border: none;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
 }
 
 .close-button1, .close-button2, 
  .close-button3, .close-button4,
   .close-button5, .close-button6{
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none !important;
  border-radius: 50%;
  color: red;
  font-size: 50px;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  top: 5px;
  left: 95%;
}

@media screen and (max-width: 767px) {
  .close-button1, .close-button2, 
  .close-button3, .close-button4,
   .close-button5, .close-button6{
    left: 90%;
  }
}

 p#leia-mais1{
  text-align: start;
  padding-left: 20px;
  margin: 0;
  /* transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
    transition: all 0.3s;
 
/* Conteudo da modal box */
 }
.modal-content {
  position: relative;
  display: flex;
  background-color: #fefefe;
  margin: auto;
  border: 4px solid #ECECEC;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  justify-content: space-between;
}

@media screen and (max-width: 767px){
  .modal-content{
    width: 100%;
    height: 90%;
    justify-content: space-between
  }
}

.conteudo-text{
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: justify;
  padding: 25px;
  font-size: 16px;
}
body.modal-open {
  overflow: hidden;
}

.imgCont{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.imgCont img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


/* Botao de fechar a modal */
.close, .close2, .close3, .close4, .close5, .close6 {
  text-align: end;
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* *******************
  TRANSIÇAO MODAL BOX
**********************/
@keyframes scaleUp {
  0% {
    transform:scale(.1) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}