/*barra de pesquisa e título, saiba mais*/


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background-color: #69A625;
  color: white;
}

.btn-search {
  background-color: #3A90C3;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #3A90C3;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.btn-search:hover {
  background-color: #184c83;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  box-shadow: 10px 10px lightblue;
}

/*menu e logo - header*/

.menu {
  align-items: center;
  list-style: none;
  display: block;
  font-weight: normal;
  background: #ECECEC;
  margin: 0;
  font-family: 'bellota text';
  font-size: 18px;
}

.menu-opcoes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-opcoes li {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .menu-opcoes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 2px;
  }
}

.menu-opcoes a:hover {
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
  background-color: #3A90C3;
  transition: 0.3s;
  cursor: pointer;
  border-style: none;
  box-shadow: 8px 8px lightblue;
  text-align: center;
}

.borda-cabecalho {
  width: 0px;
  height: 25px;
  border: 1px black solid;
  display: inline-flex;
  margin-top: 22px;
}

.como-chegar {
  text-align: center;
  background-color: #ECECEC;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;

}

.expansible-text {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.expand-btn {
  cursor: pointer;
  color: #007bff;
}

.propostas-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.proposta-btn {
  background-color: #3A90C3;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #3A90C3;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.proposta-btn:hover {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2883a7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px lightblue;
  transition: .3s;
}

/*perfis*/

.text-blk {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ECECEC;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0 0 0 0;
}

.responsive-container-block.Container {
  max-width: 1320px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.responsive-container-block.leftSide {
  width: auto;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  flex-direction: column;
  position: static;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 300px;
}

.text-blk.heading {
  font-size: 40px;
  line-height: 64px;
  font-weight: 900;
  color: #69A625;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.text-blk.btn {
  color: rgb(0, 178, 235);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  cursor: pointer;
}

.responsive-container-block.rightSide {
  width: 675px;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  height: 700px;
  min-height: auto;
}

.number1img {
  margin-top: 39%;
  margin-right: 80%;
  margin-bottom: 29%;
  margin-left: 0px;
  height: 32%;
  width: 20%;
  position: absolute;
}

.number2img {
  margin-top: 19%;
  margin-right: 42%;
  margin-bottom: 42%;
  margin-left: 23%;
  width: 35%;
  height: 39%;
  position: absolute;
}

.number3img {
  width: 13%;
  height: 21%;
  position: absolute;
  margin-top: 62%;
  margin-right: 64%;
  margin-bottom: 30%;
  margin-left: 23%;
}

.number4vid {
  width: 34%;
  height: 33%;
  position: absolute;
  margin-top: 62%;
  margin-right: 27%;
  margin-bottom: 0px;
  margin-left: 39%;
}

.number5img {
  position: absolute;
  width: 13%;
  height: 21%;
  margin-top: 38%;
  margin-right: 27%;
  margin-bottom: 41%;
  margin-left: 60%;
}

.number6img {
  position: absolute;
  margin-top: 0px;
  margin-right: 3%;
  margin-bottom: 67%;
  margin-left: 62%;
  width: 35%;
  height: 33%;
}

.number7img {
  position: absolute;
  width: 25%;
  margin-top: 40%;
  margin-right: 0px;
  margin-bottom: 18%;
  margin-left: 75%;
  height: 42%;
}

.text-blk.subHeading {
  font-size: 14px;
  line-height: 25px;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .text-blk.heading {
    text-align: center;
    max-width: 370px;
  }

  .text-blk.subHeading {
    text-align: center;
  }

  .responsive-container-block.leftSide {
    align-items: center;
    max-width: 480px;
  }

  .responsive-container-block.rightSide {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
  }

  .responsive-container-block.rightSide {
    margin: 0 auto 70px auto;
  }
}

@media (max-width: 768px) {
  .responsive-container-block.rightSide {
    width: 450px;
    height: 450px;
  }

  .responsive-container-block.leftSide {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .number1img {
    display: none;
  }

  .number2img {
    display: none;
  }

  .number3img {
    display: none;
  }

  .number5img {
    display: none;
  }

  .number6img {
    display: none;
  }

  .number7img {
    display: none;
  }

  .responsive-container-block.rightSide {
    width: 100%;
    height: 250px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
  }

  .number4vid {
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    height: 100%;
  }

  .text-blk.heading {
    font-size: 25px;
    line-height: 40px;
    max-width: 370px;
    width: auto;
  }

  .text-blk.subHeading {
    font-size: 14px;
    line-height: 25px;
  }

  .responsive-container-block.leftSide {
    width: 100%;
  }
}


.slide-controller:nth-child(1):checked~.slide-show .slides-list {
  --selected-item: 0;
}

.slide-controller:nth-child(2):checked~.slide-show .slides-list {
  --selected-item: 1;
}

.slide-controller:nth-child(3):checked~.slide-show .slides-list {
  --selected-item: 2;
}

.slide-controller:nth-child(4):checked~.slide-show .slides-list {
  --selected-item: 3;
}

.slide-show {
  text-align: center;
  overflow: hidden;
}

.slides-list {
  text-align: center;
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #ddd;
}



.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;
}

.slider .seta {
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: auto;
  height: 1.5rem;
  font-size: 2.5em;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;
}

.slider .seta:hover {
  cursor: pointer;
  opacity: 1;
}

.slider .arrow-left {
  left: 2%;
}

.slider .arrow-right {
  right: 2%;
}

.slider .paginacao {
  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  z-index: 5;
}

.slider .paginacao .botao {
  width: auto;
  height: auto;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  color: #fff;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.prosp {
  padding-top: 40px;
  padding-bottom: 40px;
}

.prosp_1 h4:before {
  display: inline-block;
  width: 6%;
  height: 2px;
  background-color: #69A625;
  vertical-align: middle;
  margin-right: 1%;
  content: "";
}

.prosp_1 h4:after {
  display: inline-block;
  width: 6%;
  height: 2px;
  background-color: #69A625;
  vertical-align: middle;
  margin-left: 1%;
  content: "";
}

.prosp_2i h5 a:after {
  display: inline-block;
  width: 10%;
  height: 2px;
  background-color: #69A625;
  vertical-align: middle;
  margin-left: 2%;
  content: "";
}

.prosp_2 {
  margin-top: 10px;
}

.prosp_2i img {
  border-radius: 30px 0px;
}

#plan {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ececec;
}

.plan_1i ul li {
  margin-top: 8px;
}

.plan_1i ul li i {
  vertical-align: middle;
  margin-right: 5px;
}

.plan_1i1 span i {
  font-size: 80px;
}

.plan_1i1i {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.plan_1i1i h1 {
  font-size: 60px;
  font-weight: bold;
}

.plan_1i1 ul {
  margin-top: 20px;
}

.plan_1i1 ul li {
  margin-top: 8px;
}

.plan_1i1 ul li i {
  margin-right: 5px;
  vertical-align: middle;
}

.plan_1i1 h4 {
  margin-top: 20px;
}

.plan_1i1 h4:after {
  display: inline-block;
  width: 10%;
  height: 2px;
  background-color: #ddd;
  vertical-align: middle;
  margin-left: 2%;
  content: "";
}

.plan_1i1 {
  background: #fff;
  padding: 40px 30px;
  border-radius: 30px 0px;
}

.plan_1i1_o {
  background: #69A625;
}

#video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.join-us{
  background-color: #3A90C3;
  color: aliceblue;
  border: 1px solid #3A90C3;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.join-us:hover {
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
  background-color: #184c83;
  transition: 0.3s;
  cursor: pointer;
  border-style: none;
  box-shadow: 8px 8px lightblue;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'bellota text';
  background: #ffffff;
}

footer a {
  transition: .3s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #043668;
}

.footer .footer-blog,
.footer .footer-insta,
.footer .footer-tags,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
}

.footer .footer-blog h3,
.footer .footer-insta h3,
.footer .footer-tags h3,
.footer .footer-newsletter h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer .footer-blog h3::after,
.footer .footer-insta h3::after,
.footer .footer-tags h3::after,
.footer .footer-newsletter h3::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #ffffff;
}

.footer .footer-blog div {
  position: relative;
}

.footer .footer-blog div a {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #cccccc;
}

.footer .footer-blog div a:hover {
  color: #0085ff;
}

.footer .footer-blog div p {
  padding-left: 20px;
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer .footer-blog div p::before {
  position: absolute;
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #757575;
  left: 15px;
}

.footer .footer-insta {
  float: left;
  font-size: 0;
}

.footer .footer-insta a {
  padding: 0 5px 5px 0;
  display: block;
  width: 33.33%;
  float: left;
}

.footer .footer-insta a img {
  width: 100%;
}

.footer .footer-tags {
  font-size: 0;
}

.footer .footer-tags a {

  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 7px;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 6px;

}

.footer .footer-tags a:hover {
  color: #ffffff;
  background: #0085ff;
  border-color: #0085ff;
}

.footer .footer-newsletter .form {

  position: relative;
  width: 100%;

}

.footer .footer-newsletter .campo {

  width: 100%;
  height: 45px;
  float: left;
  border: 1px solid #05488a;
  background: #05488a;
  margin-bottom: 15px;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
  color: #cccccc;

}

.footer .footer-newsletter .campo:focus {

  color: #cccccc !important;

}

.footer .footer-newsletter .btn {

  display: block;
  width: 100%;
  height: 45px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: #3A90C3;
  border-radius: 0;
  border: 1px solid #3A90C3;
  transition: .3s;
  border-radius: 10px;

}

.footer .footer-newsletter .btn:hover {
  color: #ffffff;
  background: #184c83;
  border-color: #222121;
  box-shadow: 10px 10px lightblue;
}


.footer .footer-contact {
  position: relative;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-contact h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer .footer-contact p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.footer .footer-contact a {
  display: inline-block;
}

.footer .footer-contact a i {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer .footer-contact a:last-child i {
  margin: 0;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .footer-contact .col-md-4 {
    margin-bottom: 25px;
  }

  .footer .footer-contact .col-md-4:last-child {
    margin: 0;
  }
}

.footer .copyright {
  position: relative;
  padding: 30px 0;
  background: #032e59;
}

.footer .copyright .copy-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.footer .copyright .copy-text p a {
  color: #dddddd;
}

.footer .copyright .copy-text p a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu {
  position: relative;
  font-size: 0;
  text-align: right;
}

.footer .copyright .copy-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .copyright .copy-menu a:hover {
  color: #0085ff;
}

.footer .copyright .copy-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

@media (max-width: 767.98px) {

  .footer .copyright .copy-text,
  .footer .copyright .copy-menu {
    text-align: center;
  }

  .footer .copyright .copy-text p {
    margin-bottom: 5px;
  }

}

/*CSS COLETIVO*/
.background-image {
  background-image: url('/imgs/coletivo/fundo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  position: relative;
}