/*barra de pesquisa e título, saiba mais*/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  background-color: #69A625;
  color: white;
}

.btn-search {
  background-color: #007bff;
  color: aliceblue;
  margin-right: 25px;
  border: 1px solid #007bff; 
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 10px;
  
}

.btn-search:hover {
  background-color: #184c83;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

/*menu e logo - header*/

.menu {
  align-items: center;
  list-style: none; 
  display: block;
  font-weight: normal; 
  background: #ECECEC;
  margin: 0;
  font-family: 'bellota text';
  font-size: 18px;
}

.menu-opcoes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 10px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-opcoes li {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .menu-opcoes a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      transition: background-color 0.3s ease, color 0.3s ease; 
      border-radius: 10px;
      padding: 10px;
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 2px;
  }
}

.menu-opcoes a:hover {
  background-color: #007bff;
  color: #ffffff;
  text-decoration: dashed;
  border-radius: 10px;
}

.borda-cabecalho{
  width: 0px;
  height: 25px; 
  border: 1px black solid;
  display: inline-flex;
  margin-top: 22px;
}

/*footer*/

.footer {
  background-color: #69A625;
  padding-top: 50px;
}

.footer img {
  width: 100%;
  border-radius: 8px;
}

.container {
  margin-top: 20px; 
}

.col-lg-5 {
  text-align: center;
}

h4 {
  margin-bottom: 10px;
}

.nav-item-footer a {
  color: white;
}

.btn-assinar:hover{
  background-color: #184c83;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: white;
}

.btn-contato {
  background-color: #007bff;
  color: white;
  margin-right: 30px;
  border-style: none;
  border-radius: 15px;
  padding: 10%;
  margin-top: auto;
}

.btn-contato:hover {
  background-color: #0056b3; 
  color: white;
  border-style: none;
  border-radius: 10px;
  padding: 1%;
}

.btn-assinar {
  padding: 1%;
  margin-top: auto;
  background-color: #28a745;
  color: white
}

.btn-assinar:hover {
  background-color: #d4edda; 
  border-color: #28a745;
  color: #218838; 
}

.menu-vertical {
  top: 450px;  
  width: 200px;
  background-color: #218838;
  color: white; 
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .menu-vertical{
      margin-left: 15%;
      margin-top: 10px;
  }
}

@media (max-height: 400px) {
  .menu-vertical{
      margin-left: 37%;
      margin-top: 10px;
  }
}

.image-footer-logo{
  top: 480px; 
  left: 150px; 
}

.wrapper{
  top: 600px;
  left: 1635px;
  transform: translate(-50%, -50%);
}

.btn-chegar{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000000;
  border: 1px solid #ff003b;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 10px;
}

.btn-chegar span{
  position: relative;
  z-index: 2;
}

.btn-chegar:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
  border-radius: 10px;
  
}

.btn-chegar:hover{
  color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px lightblue;
}

.btn-chegar:hover:after{
  width: 100%;
  border-radius: 10px;
}

/**********
MAPA FOOTER
***********/

.map-responsive{
  overflow:hidden;
  padding-bottom:50.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  height:100%;
  width:100%;
  position:absolute;
}

@media (min-width: 768px) {
  #como-chegar {
      width: 70%;
  }
}

.square-holder {
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:200px
}

/*CSS COLETIVO*/
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  position: relative;
}

.square {
  position: absolute; /* Position elements relative to the parent .background-image */
  top: 50%; /* Adjust vertical positioning */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  height: 200px; /* Altura do quadrado */
  width: 175px; /* Largura do quadrado */
  border: 8px solid black;
  background-color: white; /* Borda preta */
  border-radius: 25px; /* Borda arredondada */
  text-align: center; /* Centraliza conteúdo horizontalmente */
  padding: 25px; /* Espaçamento interno para o conteúdo */
  scale: 125%;
}

.square2{
   height: 20%; /* Altura do quadrado */
   width: 50%; /* Largura do quadrado */
   background-color: #3A90C3; /* Borda preta */
   /*Alinha todos os itens para o centro do div */
}
  
.logo_usina {
   max-width: 100%; /* Garante que a imagem seja responsiva */
   border-radius: 50%; /* Bordas arredondadas para a imagem */
}
  
p{
  margin: 0; /* Remove margens padrão do parágrafo */
}

  
